<div class="navbar" #navbar>
  <img src="../../assets/images/menu_light.png" alt="option" (click)="showPanel(panel, navbar, search)"/>
  <div class="search-bar" #search>
    <div class="search">
      <input type="text" id="search">
    </div>
    <div class="search-icon"></div>
  </div>
  <div class="right">
    <ul>
      <li *ngFor="let item of itemsRight">
        <a routerLink="{{item.url}}" routerLinkActive="active" class="right-link">{{item.name}}</a></li>
    </ul>
  </div>
</div>

<div class="side-panel" #panel>
  <ul>
    <li *ngFor="let item of itemsLeft" class="item">
      <div class="label">{{item.name}}</div>
      <div class="arrow"></div>
      <a routerLink="{{item.url}}" routerLinkActive="active" class="link"></a>
    </li>
  </ul>
</div>
