<div id="register-div">
    <form id="registration-form">
        <label >{{temp[0]}}</label>
        <input type="search" id="userid" #userid placeholder="Userid" (focus)="focus_func(userid,0)" (focusout)="focusout_func(userid,0)">
        <label>{{temp[1]}}</label>
        <input type="search" #name placeholder="Name" (focus)="focus_func(name,1)" (focusout)="focusout_func(userid,1)">
        <label>{{temp[2]}}</label>
        <input type="search" #email placeholder="Email" (focus)="focus_func(email,2)" (focusout)="focusout_func(userid,2)">
        <label>{{temp[3]}}</label>
        <input type="password" #pass placeholder="Password" (focus)="focus_func(pass,3)" (focusout)="focusout_func(userid,3)">
        <label>{{temp[4]}}</label>
        <input type="password" #repass placeholder="Confirm Password" (focus)="focus_func(repass,4)" (focusout)="focusout_func(userid,4)">
        <button>Register</button>
    </form>
</div>

